<div class="container">
  <section class="delnote-form">
    <form (ngSubmit)="onSave()" [formGroup]="delnoteform" class="ordernote-form">
      <h4>{{screenName}}</h4>

      <mat-grid-list cols="4" rowHeight="110px">
        <div class="header1">
          <mat-grid-tile>
            <div class="delnotehead">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Document Date" formControlName="DelNoteDocDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div class="requestsgroup">
                <mat-checkbox formControlName="CheckBoxDiary" (change)="togglereqdiary()" color="primary" class="requests">Diary</mat-checkbox>
                <mat-checkbox formControlName="CheckBoxCalendar" (change)="togglereqcalendar()" color="primary" class="requests">Calendar</mat-checkbox>
                <mat-checkbox formControlName="CheckBoxCard" (change)="togglereqcard()" color="primary" class="requests">Card</mat-checkbox>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="delnotehead">
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" [min]="maxDate" placeholder="Delivery Date" formControlName="DelNoteDeliveryDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field [ngStyle]="{'font-size.px': 11}">
                <input matInput placeholder="Other" formControlName="DelRequestsOther">
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <mat-form-field class="delnotehead">
              <input matInput placeholder="Delivery Time / Instructions" formControlName="DelNoteDeliveryTime">
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="140px">
        <div class="Detail1">
          <mat-grid-tile>
            <mat-form-field class="delnotedetail1">
              <textarea matInput rows="5" placeholder="Sender Address" formControlName="SenderNameAddr" required></textarea>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="delnotedetail1">
              <textarea matInput rows="5" placeholder="Receiver Address" formControlName="ReceivNameAddr" required></textarea>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="80px">
        <div class="Detail2">
          <mat-grid-tile>
            <mat-form-field class="delnotedetail2">
              <input matInput placeholder="Town" formControlName="SendTown">
            </mat-form-field>
            <mat-form-field class="delnotedetail2">
              <input matInput placeholder="Sender Message" formControlName="SendMessage">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="delnotedetail2">
              <input matInput placeholder="Town" formControlName="RecTown" required>
            </mat-form-field>
            <mat-form-field class="delnotedetail2">
              <input matInput placeholder="Receiver Telephone" formControlName="RecPhone" required>
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="80px">

        <mat-grid-tile>
          <mat-form-field class="delnotedetail2" style="width: 90px;">
            <input (focusout)="itemCodeFocusOut()" type="text" placeholder="Code" aria-label="Number" matInput
              formControlName="ItemCode" [matAutocomplete]="autoItemCode" required>
            <mat-autocomplete autoActiveFirstOption #autoItemCode="matAutocomplete" style="width:150px">
              <mat-option *ngFor="let itemcode of filteredItemCodesOptions | async" [value]="itemcode" required>
                {{itemcode}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="!showCustHamper" class="delnotedetail2">
          <mat-form-field style="width: 780px;">
            <input (focusout)="itemDescrFocusOut()" type="text" placeholder="Description" aria-label="Number" matInput
              formControlName="ItemDescr" [matAutocomplete]="autoItemDesc" required>
            <mat-autocomplete autoActiveFirstOption #autoItemDesc="matAutocomplete" style="width:150px">
              <mat-option *ngFor="let itemdesc of filteredItemDescriptionOptions | async" [value]="itemdesc" required>
                {{itemdesc}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="showCustHamper" class="delnotedetail2">
          <mat-form-field style="width: 780px;">
          <input type="text" placeholder="Custom Hamper Remarks" aria-label="Number" matInput
          formControlName="CustHamperRemarks" required>
        </mat-form-field>
      </div>
          <mat-form-field class="delnotedetail2" style="width: 40px;">
            <input matInput placeholder="Qty" formControlName="QtyOrd" required>
          </mat-form-field>

        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="45px">
        <mat-grid-tile>
          <div class="footer">
            <button mat-raised-button type="submit" color="primary" [disabled]="!delnoteform.valid">Save</button>
            <button mat-raised-button type="button" color="accent" (click)="onCancel()">Cancel</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>


    </form>

  </section>
