/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

.mat-option {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px !important;
    height: 25px;
    }

::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
        min-width:150px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
}

.delnote-form{
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0px 0px;
    width: 1000px;
}

 .delnotehead {
    align-self: flex-start;
    width: 100%;
    padding: 5px;
    flex-flow: column;
}

.delnotedetail1 {
    align-self: flex-start;
    width: 100%;
    padding: 15px;
}

.delnotedetail2 {
    align-self: flex-start;
    width: 100%;
    padding: 15px;
}

.footer {
    display: flex;
    flex-flow: row;    
    align-items: flex-end; 
    justify-content: flex-end;
    width: 100%;  
}

.footer button {
    margin: 0 5px;
}

.requestsgroup {
    padding-top: 10px;
}

.requests {
    padding: 0px 8px 0px 0px;
    font-size: 10pt;
    height: 10px;
    width: 10px;
}

::ng-deep .mat-checkbox .mat-checkbox-inner-container {
    padding: 0px 0px 0px 0px;
    height: 10px;
    width: 10px;
}
