<h4>Customer Order</h4>
<div class="container">
  <section class="order-form">
    <form (ngSubmit)="onSave()" [formGroup]="orderform" class="order-form">
      <mat-grid-list cols="11" rowHeight="200px">
        <mat-grid-tile colspan="1">
          <div class="containercol1">
            <mat-form-field class="orderhead">
              <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Order Date" formControlName="DelOrdDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="set-apart">
              <app-select-client-mat-table (focusout)="onCustRefFocusOut()" formControlName="CustRef" [dataSource]="this">
              </app-select-client-mat-table>
            </div>

            <section class="searchcodename-section">
              <label class="searchcodename-margin">Client Code Search by:</label>
              <mat-radio-group formControlName="Searchbycodename">
                <mat-radio-button class="searchcodename-margin" value="code">
                  Code
                </mat-radio-button>
                <mat-radio-button class="searchcodename-margin" value="name">
                  Name
                </mat-radio-button>
              </mat-radio-group>
            </section>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <div class="containercol2" dir="ltr" fxLayoutGap="20px" fxLayoutAlign="start start">
            <mat-form-field class="orderhead" style="width: 380px;">
              <textarea matInput rows="5" placeholder="Client *" formControlName="Client">
            </textarea>
            </mat-form-field>

            <mat-form-field class="orderhead">
              <input matInput placeholder="Town" formControlName="Town">
            </mat-form-field>

          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <div class="containercol3" dir="ltr" fxLayoutGap="20px" fxLayoutAlign="start start">
            <mat-form-field class="orderhead">
              <input matInput placeholder="Sender Message" formControlName="DefSendMsg">
            </mat-form-field>
           <!--  <mat-form-field class="orderhead">
              <input matInput placeholder="Delivery Instructions" formControlName="DelInstructions">
            </mat-form-field> -->
            <mat-form-field class="orderhead">
              <input matInput (focusout)="onInvRefFocusOut()" placeholder="InvoiceRef *" formControlName="InvoiceRef">
            </mat-form-field>
            <!-- <mat-form-field class="orderhead">
              <input matInput placeholder="Status" formControlName="Status">
            </mat-form-field> -->
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>

                      <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <div class="containercol4">
            <button mat-raised-button color="primary" [disabled]="!orderform.valid">Save</button>
            <button mat-raised-button color="accent" style="margin-top:5px;" (click)="onBackButton()">Cancel</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </section>

  <hr>

</div>

<app-delnote
  [userhelperdata]="orderform">
</app-delnote>
